.page-section {
    padding: 1.2rem 0;   
    
    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: #ffffff;
    }

    &--no-b-untill-medium {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }

    &--no-b-untill-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }

    &--testimonials{
        background-color: #e0e6ef;

        @mixin atLarge {
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }

    }
}

