.row {
    
    @mixin clearfix;

    &--gutters {
        margin-right: -65px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    @mixin atMedium {
        &--medium-4{
            float: left;
            width: 33.33%;
        }
        &--medium-8{
            float: left;
            width: 66.66%;
        }
    }
   
}
