.row {
    
    @mixin clearfix;
    
    &--t-padding{
        padding-top: 80px;
    }

    &--gutters {
        margin-right: -65px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    --gutters-small {
        margin-right: -45px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }

    &--gutters-small > div {
        padding-right: 45px;
    }

    &__b-margin-untill-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {

        &__b-margin-untill-medium {
            margin-bottom: 0;
        }

        &--medium-4{
            float: left;
            width: 33.33%;
        }

        &--medium-6 {
            float:left;
            width: 50%;
        }

        &--medium-4--larger{
            width: 37%;
        }
        &--medium-8{
            float: left;
            width: 66.66%;
        }
        &--medium-8--smaller{
            width: 63%;
        }
    }

    @mixin atLarge {

        &__b-margin-untill-medium {
            margin-bottom: 0;
        }

        &--large-4{
            float: left;
            width: 33.33%;
        }

        &--large-6 {
            float:left;
            width: 50%;
        }

        &--large-4--larger{
            width: 37%;
        }
        &--large-8{
            float: left;
            width: 66.66%;
        }
        &--large-8--smaller{
            width: 63%;
        }
    }

    /* Begin Equal Height Rule*/
    &--equal-height-at-meduim {
        @mixin atMedium {
        display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-large {
        @mixin atLarge {
        display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
   
}
