.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &--medium {
        max-width: 976px;
    }
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}